
/* FUENTES
font-family: 'Big Shoulders Stencil Text', cursive;

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#page{
    background-color: rgb(32, 40, 51);
    color: floralwhite;
}

header{
    display: flex;
    
    text-align: center;
    align-items: center;
}

header nav{
    display: inline;
    margin: 20px;
}

header a{
    text-decoration: none;
    margin: 20px;
    color: floralwhite;
}

.buscador{
    display: inline;

    text-align: center;
    align-items: center;
}

.usuario{
    display: inline;
}

.usuario a{
    background-color: blue;
}

main{
    display: block;
    padding-left: 50px;
    padding-top: 30px;
    background: linear-gradient(
        38deg,
        rgba(15, 23, 30, 1) 0%,
        rgba(15, 23, 30, 1) 41%,
        rgba(255, 255, 255, 0) 100%
    );
    background: no-repeat;
    background-image: url("../img/bg-film.png");
    background-position: top, right;
    background-size: contain;

    color: floralwhite;
    font-family: sans-serif;
}

main h1{
    font-family: 'Big Shoulders Stencil Text', cursive;
    font-size: 42px;
}

#atributos{
    display: flex;
    padding-top: 20px;
}

#atributos .principal{
    color: snow;
}
#atributos .secundario{
    padding-left: 50px;
    color:  rgb(104, 135, 219);
}

#container{
    display: flex;
    padding-top: 20px;
}

#container a{
    margin: 5px;
    text-decoration: none;
    color: snow;
    background-color: rgb(46, 72, 158);
}

aside{
    padding: 50px;
}
#grid-container{
    display: grid ;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}

#grid-container img{
    width: 250px;
}

footer{
    display: block;

    align-items: center;
    text-align: center;
}

footer nav{ 
    margin: 20px;
    gap: 10px;
}

footer a{
    text-decoration: none;
    margin: 5px;
    color: rgb(104, 135, 219); 
}

footer p{
    color: darkgrey;
}